dist/*
src/SPI2Py/result/output/*
!src/SPI2Py/result/output/.gitkeep
venv/*
.idea
.vscode
**/.DS_Store
**/output.log
**/output.json
**/.pytest_cache
**/__pycache__
SPI2Py.egg-info/
.gif
.vscodecounter/
/examples/CubeSat/geometric_optimization.gif
/examples/demo_1/geometric_optimization.gif
/examples/CubeSat/logger.log
/examples/demo_1/logger.log
/examples/CubeSat/report.json
/examples/demo_1/report.json
